.componentsSettingsTab {
    background-color: var(--base-color);
    padding: 0.5rem 1rem;
    font-size: 0.875rem;
}

.componentsSettingsSubTab {
    /* font-size: 0.85rem; */
    /* border-bottom: 1px solid var(--border-color); */
    margin: 0.7rem 0.5rem;
}

.componentsSettingsInnerSubTab {
    margin: 0.7rem 0rem;
}

.formControl > .MuiOutlinedInput-root:hover > .MuiOutlinedInput-notchedOutline {
    border-color: var(--border-text) !important;
}

.formControl > .MuiOutlinedInput-root > .MuiOutlinedInput-notchedOutline {
    border-color: var(--border-color) !important;
}

.formControl > .MuiOutlinedInput-root.Mui-focused > .MuiOutlinedInput-notchedOutline {
    border-color: var(--border-text) !important;
}

.componentsSettingsButton {
    /* font-size: 0.85rem; */
    /* border-bottom: 1px solid var(--border-color); */
    margin: 0.7rem 0.5rem;
    display: flex;
    justify-content: center;
}

.componentSettingsSubHeader
{
    text-align: center;
    text-decoration: underline;
    font-size: 0.9rem;
}

.componentsSettingsLink {
    margin: 0.7rem 0.5rem !important;
    display: flex;
    justify-content: center;
    cursor: pointer;

    color: #2ecc32 !important;

    text-decoration: none !important;
}

.componentsSettingsLink:hover {
    text-decoration: underline !important;

    opacity: 0.85;
}

.componentsSettingsLink-parentNone {
    margin: 0.7rem 0.5rem !important;
    display: flex;
    justify-content: center;
    cursor: pointer;

    color: #2ecc32 !important;

    text-decoration: none !important;
    cursor: default;
}