.outlinedInput {
    color: var(--text-color) !important;
}

.inputLabel {
    color: var(--text-color) !important;
    font-family: 'Poppins' !important;
}

.formControl > .MuiOutlinedInput-root:hover > .MuiOutlinedInput-notchedOutline {
    border-color: var(--border-text) !important;
}

.formControl > .MuiOutlinedInput-root > .MuiOutlinedInput-notchedOutline {
    border-color: var(--border-color) !important;
}

.formControl > .MuiOutlinedInput-root.Mui-focused > .MuiOutlinedInput-notchedOutline {
    border-color: var(--border-text) !important;
}

.settingsTextField > .MuiFormLabel-root {
    color: var(--text-color) !important;
    font-family: 'Poppins' !important;
}

.settingsTextField > .MuiInputBase-root {
    color: var(--text-color) !important;
    font-family: 'Poppins' !important;
}

.settingsTextField > .MuiInputBase-root > .MuiOutlinedInput-notchedOutline {
    border-color: var(--border-color) !important;
}

.settingsTextField-enabled > .MuiInputBase-root:hover > .MuiOutlinedInput-notchedOutline {
    border-color: var(--border-text) !important;
}

.settingsTextField > .MuiInputBase-root.Mui-focused > .MuiOutlinedInput-notchedOutline {
    border-color: var(--border-text) !important;
}

.settingsTextField-disabled > .MuiInputBase-root:hover > .MuiOutlinedInput-notchedOutline {
    border-color: var(--border-color) !important;
}