.portal {
    background-color: var(--portal-color);
    margin: 0;

    display: flex;
    flex-flow: column;
    height: 100vh;
    overflow: hidden;
}

.portal-header {
    border-bottom: 1px solid var(--border-color);
    height: 2rem;
    max-height: 2rem;

    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}

.portal-content {
    display: flex;
    flex: 1 1 auto;
    max-height: calc(100vh - 3.5rem - 6px);
}

.portal-footer {
    border-top: 1px solid var(--border-color);
    height: 1.5rem;
    max-height: 1.5rem;
}

.content-container {
    width: calc(100% - 460px);
    height: 100%;
    max-height: 100%;

    display: flex;
    flex-direction: column;

    border-left: 0.1px solid var(--border-color);
    border-right: 0.1px solid var(--border-color);

    background-color: var(--portal-color);
}

.components-menu {
    background-color: var(--portal-color);
    width: 200px;
    height: 100%;

    min-width: 260px;

    overflow-y: auto;
}

.components-designer {
    width: calc(100% - 1rem);
    height: 60%;
    min-height: 60%;

    border-bottom: 0.1rem solid var(--border-color);

    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */

    position: relative;
    overflow: auto;

    padding: 0.5rem;

    /* background-color: #333333; */
    background-color: #f5f2f0;

    color: white;
}

.components-designer-preview {
    height: 100%;
    overflow: hidden;
}

.code-generator {
    width: 100%;
    overflow: auto;
    height: 100%;
    background-color: #f5f2f0 ;
}

.code-generator-code {
    height: 100%;
}

.code-generator-menu {
    display: flex;
    flex-direction: row;
    align-items: center;

    border-bottom: 0.1rem solid var(--border-color);

    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    background-color: var(--portal-color);
}

.code-generator-css-switch {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.coponents-settings {
    background-color: var(--portal-color);
    width: 260px;
    min-width: 260px;
    height: 100%;

    overflow-y: auto;
    max-height: calc(100vh - 4rem);
}

.selected-item-border {
    border: 1.5px solid #2ecc32 !important;
}

.not-selected-item-border {
    border: 1.5px dashed #2ecc32 !important;
}

.not-selected-item-border:hover {
    border: 1.5px solid #2ecc32 !important;
    cursor: pointer;
}