.errosPage {
    background-color: var(--portal-color);
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
}

.errorTitle {
    text-align: center;
    margin: 1rem 0 0 0;
}

.errorMessage {
    text-align: center;
    margin: 1rem 0 0 0;
}