html, body{
  /* --border-color: rgba(242, 236, 255, 0.1);
  --portal-color: #2d2d2d;
  --base-color: #5b5b5b;
  --text-color: #f2ecff; */

  --border-color: #e5e5e5;
  --portal-color: #ffffff;
  --base-color: #e5e5e5;
  --text-color: #1a1a1a;

  color: var(--text-color);

  font-family: 'Poppins';
  font-size: 16px;

  margin: 0;
  height: 100%;
  width: 100%;

  overflow: hidden;
}