.Box_b524a55f5fcb42a3965aab2ea18b8a64 {
  width: 100%;
  height: 100%;
  background-color: #e0e0e0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Container_cd7f0d1e808d4886a38e0bde9388a8d9 {
}

.Box_2b27797052bc4f9b84a51c6140907ebd {
  width: auto;
  height: auto;
  background-color: #c9ccd8;
  padding: 3rem 2rem;
  display: block;
  flex-direction: column;
}

.Typography_af6cd04c005b49ceadf0110b65c97615 {
  color: #1976d2;
  text-align: center;
  margin: 0 0 2rem;
  font-weight: 600;
  font-size: 2rem;
}

.FormControl_891e0162bc7b47e8afd1f2ea90e8075c {
  margin: 0 0 0.5rem;
}

.FormControl_8989af2c72c641e7b2d8f15738bc49c5 {
}

.Link_5acfeb4172434662b9ff5d08d3c9e8b9 {
  color: #1976d2;
  display: flex;
  justify-content: end;
}

.Button_409b532ef5414ab2b06498a61558bc6b {
  margin: 1rem 0;
}

.Typography_ee7138c77e95454a8afae855cc608fb2 {
  color: #1976d2;
  text-align: center;
  font-weight: 600;
}

.Box_ced3086c16c1483894aa8e4f04427574 {
  width: 100%;
  height: auto;
  margin: 0.5rem 0 0;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
}

.IconButton_61248dc074384775a3fbf325704eec5a {
  color: #ffffff;
  background-color: #008744;
  &:hover {
    background-color: #056135;
  }
}

.IconButton_9c3e52d1a3a5447aa3e0e2b99a207132 {
  color: #ffffff;
  background-color: #3b5998;
  &:hover {
    background-color: #263c64;
  }
}

.IconButton_98d45f494b4542c3890f0115067f4c3c {
  color: #ffffff;
  background-color: #000000;
  &:hover {
    background-color: #2c2b2b;
  }
}

.IconButton_935db2eeaacb454b95a7673dd9454868 {
  color: #ffffff;
  background-color: #00acee;
  &:hover {
    background-color: #0082b4;
  }
}
